<h4>To watch list</h4>
<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>
<ng-container *ngIf="!isFetching">
  <div class="card mb-2" *ngFor="let film of films">
    <div class="row no-gutters">
      <div class="col-sm-8">
        <div class="card-body">
          <h5 class="card-title">{{ film.name }}</h5>
          <button type="submit" class="btn btn-danger" (click)="onDelete(film.id)">
          <span *ngIf="!isFetching">
          Delete
        </span>
            <span *ngIf="isFetching" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>


