<div class="row mt-2">
  <div class="col-6">
    <h4>Add new film</h4>
    <form (ngSubmit)="createFilmPost()">
      <div class="form-group">
        <label for="name">Film name: </label>
        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="nameInput"/>
        <button type="submit" class="btn btn-primary" [disabled]="isFetching">
          <span *ngIf="!isFetching">
          Add
        </span>
          <span *ngIf="isFetching" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
        </button>
      </div>
    </form>
  </div>
</div>
